@import 'vendor';
@import '~node_modules/minireset.css/minireset.sass';
@import '~node_modules/bootstrap/scss/bootstrap-grid.scss';

@import 'fonts';
@import 'form';
@import 'helpers';

// Common
* {
  box-sizing: border-box;
}
body {
  font-family: Cabin, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #F3F3F3;
}
h1, h2, h3 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}


// Page
#page-main {
  .header {
    > .container {
      background-image: url('../img/header.jpg');
      background-position: center top;
      background-repeat: no-repeat;
      background-color: #170A52;
      color: #FFF;
      .text {
        margin:60px 0 25px;
        text-align: center;
        color: #0C86E8;
        h1 {
          font-size: 4.5rem;
          font-weight: 400;
          margin-bottom: 0.1em;
          @include media-breakpoint-down(xs) {
            font-size: 2.5rem;
          }
        }
        h2 {
          font-family: Cabin, Arial, Helvetica, sans-serif;
          font-size: 1.25rem;

        }
      }
      .form1 {
        background-color: rgba(255, 255, 255, 0.15);
        padding: 40px 85px;
        margin:25px 0 60px;
        @include media-breakpoint-down(md) {
          padding: 40px 40px;
        }
        @include media-breakpoint-down(xs) {
          padding: 40px 20px;
          margin:25px 0 0;
        }
        .error {
          margin: 5px 0;
          width: 100%;
          color: red;
        }
        .websites {
          label {
            display: inline-block;
            padding: 0 0 15px 15px;
            @include media-breakpoint-down(md) {
              padding: 0 0 15px;
            }
            .label {
              margin-right: 8px;
            }
            .eg {
              color: #C1BFD0;
              font-size: .8em;
              white-space: nowrap;
            }
          }
          .form-vs {
            text-align: center;
            margin: 0 0 35px 0;
            font-size: 1.75rem;
            padding: 0;
            @include media-breakpoint-down(sm) {
              margin: 0 0 20px 0;
              &::before {
                content: "- "
              }
              &::after {
                content: " -"
              }
            }
          }
        }
        .email {
          margin-top: 40px;
          @include media-breakpoint-down(sm) {
            margin-top: 30px;
          }
          button {
            margin: 0 0 0 5px;
            @include media-breakpoint-down(sm) {
              margin: 5px 0 0 0;
            }
          }
          .checkbox-group {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 0 10px;
            @include media-breakpoint-down(sm) {
              margin: 10px 0 0 0;
            }
            input {
              position: relative;
              top: 3px;
              margin-right: 10px;
            }
            label {
              flex-basis: 0;
              flex-grow: 1;
            }
          }
        }
      }
      .form2 {
        display: none;
        background-color: rgba(255, 255, 255, 0.15);
        padding: 40px 85px;
        margin:25px 0 60px;
        @include media-breakpoint-down(md) {
          padding: 40px 40px;
        }
        @include media-breakpoint-down(xs) {
          padding: 40px 20px;
          margin:25px 0 0;
        }
        .form-heading {
          font-size: 2rem;
        }
        .form-website1 {
          margin: 20px 0 10px;
        }
        .form-website2 {
          margin: 10px 0 20px;
        }
        .form-email {
          font-size: 1rem;
          a {
            color: #FFF;
          }
        }
        .form-button {
          margin-top: 20px;
        }
      }
    }
  }
  .body {
    .example {
      background-color: #FFF;
      .text {
        color: #D94C7D;
        text-align: center;
        margin: 40px 0 30px;
        h2 {
          font-size: 1.25rem;
          font-family: Cabin, Arial, Helvetica, sans-serif;
        }
        h3 {
          font-size: 2.25rem;
          font-family: Cabin, Arial, Helvetica, sans-serif;
          @include media-breakpoint-down(sm) {
            font-size: 2rem;
          }
        }
      }
      .carousel {
        .tabs {
          .tab {
            color: #CCCCCC;
            border-bottom: 3px solid transparent;
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
            &.active {
              color: inherit;
              border-bottom: 3px solid #4284F7;
            }
          }
          .underline {
            border-bottom: 1px solid #CCCCCC;
          }
        }
        .slides {
          #slides-slider {
            width: 700px;
            height: 668px;
            margin: .7em auto;
            @include media-breakpoint-down(sm) {
              width: 510px;
              height: 487px;
            }
            @include media-breakpoint-down(xs) {
              width: 300px;
              height: 286px;
            }
          }
        }
      }
      .usecases {
        color: #333;
        padding: 50px 0 80px;
        h2 {
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 1.5em;
          @include media-breakpoint-down(sm) {
            font-size: 1.5rem;
          }
        }
        li {
          margin-bottom: 20px;
          list-style: disc;
        }
      }
    }
    .enterprise {
      background-color: #15002C;
      color: #FFF;
      padding: 60px 0;
      h2 {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1.2em;
        @include media-breakpoint-down(sm) {
          font-size: 1.25rem;
        }
      }
      ul {
        font-size: 1.125rem;
        line-height: 2em;
        list-style: disc;
        margin-bottom: 2.3em;
        @include media-breakpoint-down(xs) {
          font-size: 1rem;
        }
      }
      .mailto {
        p {
          font-size: 2rem;
          font-weight: 700;
          @include media-breakpoint-down(xs) {
            font-size: 1.25rem;
          }
          a {
            color: #40afaa;
            text-decoration: none;
          }
        }
      }
    }
  }
  .footer {
    color: #000;
    > .container {
      padding-top: 50px;
      padding-bottom: 200px;
      background-color: #FFF;
      @include media-breakpoint-down(xs) {
        padding-bottom: 50px;
      }
    }
  }
}